# 순차 탐색 문제

In [1]:
s = [0, 10, 7, 11, 5, 13, 8]
n = 6
x = 5

In [12]:
def seqsearch(n, s, x):
  location = 0
  while (location <= n and s[location] != x) :
    location += 1
  if (location > n) :
    location = 0
  return location

In [13]:
location = seqsearch(len(s)-1, s, x)
print('location = ', location)

location =  4

In [14]:
y = 4
loca = seqsearch(len(s)-1,s,y)
print('location = ', loca)

location =  0

# 리스트(배열) 원소의 합 구하기

In [6]:
s = [-1, 10, 7, 11, 5, 13, 8]
n = 6

In [10]:
def sum(n, s):
  result = 0
  for i in range(0,n+1):
    result = result + s[i]
  return result

In [11]:
sum = sum(len(s)-1, s)
print('sum = ', sum)

sum =  53

# 리스트의 정렬 문제(Sorting)

In [15]:
# n개의 수로 구성된 리스트 s를 오름차순으로 정렬하시오

In [20]:
s = [-1, 10, 7, 11, 5, 13, 8]

In [21]:
def exchange(s):
  n = len(s)
  for i in range(n-1):
    for j in range(i+1,n):
      if s[i] > s[j]:
        s[i], s[j] = s[j], s[i]

In [22]:
print('Before - ', s)
exchange(s)
print('After  - ', s)

Before -  [-1, 10, 7, 11, 5, 13, 8]
After  -  [-1, 5, 7, 8, 10, 11, 13]

# 행렬의 곱셈 문제

In [23]:
# n * n 행렬의 곱을 구하시오
# n = 2

In [33]:
def matrixmult(A, B):
  n = len(A)
  C = [[0] * n for _ in range(n)]
  for i in range(n):
    for j in range(n):
      for k in range(n) :
        C[i][j] += A[i][k] * B[k][j]
  return C

In [34]:
A = [[2,3], [4,1]]
B = [[5,7], [6,8]]
C = matrixmult(A, B)
print('C = ', C)

C =  [[28, 38], [26, 36]]

# 순차 탐색 vs 이분 검색
### 입력리스트의 조건에 따라
* 정렬되지 않은 리스트 : 순차 탐색
* 정렬된 리스트 : 이분 검색

In [35]:
# 이분 검색

In [37]:
def binsearch(n,S,x) :
  low = 0
  high = n
  location = 0
  while (low <= high and location == 0):
    mid = (low+high) // 2
    if x == s[mid] :
      location = mid
    elif x < s[mid]:
      high = mid - 1
    else :
      low = mid + 1
  return location

In [44]:
s = [-1, 5, 7, 8, 10, 11, 13]
x = 2
y = 7
z = 10
location = binsearch(len(s)-1, s, x)
print('s = ', s)
print('x = ', x)
print('location = ', location)
print('*'* 50)
location = binsearch(len(s)-1, s, y)
print('s = ', s)
print('y = ', y)
print('location = ', location)
print('*'* 50)
location = binsearch(len(s)-1, s, z)
print('s = ', s)
print('z = ', z)
print('location = ', location)

s =  [-1, 5, 7, 8, 10, 11, 13]
x =  2
location =  0
**************************************************
s =  [-1, 5, 7, 8, 10, 11, 13]
y =  7
location =  2
**************************************************
s =  [-1, 5, 7, 8, 10, 11, 13]
z =  10
location =  4

# 피보나치 수열의 n번째 항 구하기

In [45]:
def fib (n) :
  if n<=1 :
    return n 
  else :
    return fib(n-1) + fib(n-2)

for i in range(11) :
  print(fib(i), end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [47]:
def fib2 (n) :
  f = [0] * (n+1)
  if n > 0 :
    f[1] = 1
    for i in range(2, n+1):
      f[i] = f[i-1] + f[i-2]
  return f[n]

for i in range(11) :
  print(fib2(i), end=" ")

0 1 1 2 3 5 8 13 21 34 55