In [ ]:
a = input('숫자를 입력하세요 :')
print(a)

숫자를 입력하세요 :3
3

In [ ]:
a, b = input('숫자를 입력하세요 :').split()
print(type(a))
c = a+b # 그냥 숫자끼리 연결이 된다.
print(type(c))
print(c)

숫자를 입력하세요 :2 3
<class 'str'>
<class 'str'>
23

In [ ]:
# a+b를 연산하고 싶다면
a, b = input('숫자를 입력하세요 :').split()
a = int(a)
print(type(a))
b = int(b)
print(type(b))
c = a+b
print(type(c))
print(c)

숫자를 입력하세요 :2 3
<class 'int'>
<class 'int'>
<class 'int'>
5

In [ ]:
# map 함수

a, b = map(int, input('숫자를 입력하세요 : ').split())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

숫자를 입력하세요 : 3 2
5
1
6
1.5
1
1
9

In [ ]:
a = 4.3
b = 5

c = a + b
print(type(c))

<class 'float'>

In [ ]:
a = range(1,11)
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
i = 1 
while i<=10:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 10
while i >= 1:
  print(i)
  i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 1
while True:
  print(i)
  if i == 10:
    break
  i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  if i % 2 == 1 :
   print(i)

1
3
5
7
9

In [ ]:
for i in range(1,11):
  print(i)
  if i > 15:
    break
else:
  print(11)

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# 1부터 N까지 홀수 출력하기
N = int(input('자연수를 입력해주세요 : '))
for i in range(1, N+1):
  if i % 2 == 1:
    print(i)

자연수를 입력해주세요 : 11
1
3
5
7
9
11

In [ ]:
# 1부터 N까지의 합 구하기
n = int(input())
sum2 = 0 
for i in range(1, n+1):
  sum2 = sum2+i

print(sum2)

1
1

In [ ]:
# N의 약수출력하기
n = int(input())
for i in range(1, n+1):
  if n % i == 0:
    print(i, end=' ')

60
1 2 3 4 5 6 10 12 15 20 30 60

In [ ]:
# 2중 for문
for i in range(5):
  for j in range(5):
    print((i,j), end=' ')
  print()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)
(3, 0) (3, 1) (3, 2) (3, 3) (3, 4)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4)

In [ ]:
for i in range(5):
  for j in range(i+1):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5) :
  for j in range(5-i):
    print('*', end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
msg = 'Hi My Name Is Wonsung'
print(msg.upper())

HI MY NAME IS WONSUNG

In [ ]:
msg = 'Hi My Name Is Wonsung'
print(msg.lower())

hi my name is wonsung

In [ ]:
msg

'Hi My Name Is Wonsung'

In [ ]:
MSG = msg.upper()
MSG

'HI MY NAME IS WONSUNG'

In [ ]:
print(MSG.find('I'))

1

In [ ]:
print(MSG.count('I'))

2

In [ ]:
for i in range(len(msg)) :
  print(msg[i], end='')

Hi My Name Is Wonsung

In [ ]:
for x in msg:
  print(x, end='')

Hi My Name Is Wonsung

In [ ]:
for x in msg:
  if x.isupper():
    print(x, end=' ')

H M N I W

In [ ]:
for x in msg:
  if x.islower():
    print(x, end=' ')

i y a m e s o n s u n g

In [ ]:
for x in msg:
  if x.isalpha():
    print(x, end='')

HiMyNameIsWonsung

In [ ]:
tmp = 'AZ'
for x in tmp :
  print(ord(x))

65
90

In [ ]:
tmp = 'az'
for x in tmp :
  print(ord(x))

97
122

In [ ]:
tmp = 65
print(chr(tmp))

A

In [ ]:
import random as r
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [ ]:
b = list(range(1,11))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
c = a+b
c

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a.append(6) # a 리스트의 맨 뒤에 추가
a

[1, 2, 3, 4, 5, 6]

In [ ]:
a.insert(3, 7) # insert(a, b) : a번째 인덱스에 b를 추가
a

[1, 2, 3, 7, 4, 5, 6]

In [ ]:
a.pop() # 맨 뒷 숫자를 제거한다.
a

[1, 2, 3, 7, 4, 5]

In [ ]:
a.pop(3) # 3번째 인덱스를 제거한다.
a

[1, 2, 3, 4, 5]

In [ ]:
a.remove(4) # 4를 제거
a

[1, 2, 3, 5]

In [ ]:
a = list(range(1,11))
r.shuffle(a)
print(a)

[5, 8, 7, 4, 9, 10, 2, 6, 1, 3]

In [ ]:
a.sort() # 오름차순
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a.sort(reverse=True) # 내림차순
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a.clear()
a

[]

In [ ]:
a = [23, 12, 36, 53, 19]
for x in enumerate(a):    # idx와 value를 tuple 형태로 가져옴
  print(x)

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

In [ ]:
for x in enumerate(a):
  print(x[0], x[1])

0 23
1 12
2 36
3 53
4 19

In [ ]:
for idx, value in enumerate(a):
  print('idx : {} , value : {} '.format(idx, value))

idx : 0 , value : 23
idx : 1 , value : 12
idx : 2 , value : 36
idx : 3 , value : 53
idx : 4 , value : 19

In [ ]:
if all(60>x for x in a) :
  print('All true')

if all(50>x for x in a) :
  print('All true')
else :
  print('Not all true')

All true
Not all true

In [ ]:
if any(15>x for x in a):
  print('yes')

else :
  print('no')

yes

In [ ]:
if any(11>x for x in a):
  print('yes')

else :
  print('no')

no

In [ ]:
a = [0]*3
print(a)

[0, 0, 0]

In [ ]:
a = [[0] * 3 for _ in range(3)]
a

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [ ]:
a[0][1] = 1
a[1][2] = 2
a[2][0] = 3
a

[[0, 1, 0], [0, 0, 2], [3, 0, 0]]

In [ ]:
for x in a :
  print(x)

[0, 1, 0]
[0, 0, 2]
[3, 0, 0]

In [ ]:
for x in a :
  for y in x :
    print(y, end=' ')
  print()

0 1 0
0 0 2
3 0 0

In [ ]:
# 함수

def add(a, b) : 
  return a+b


y = add(1, 2)
y

3

In [ ]:


def isPrime(x):
  for i in range(2,x):
    if x%i==0:
      return False
  return True

In [ ]:
A = isPrime(13)
A

True

In [ ]:
a = [1, 2, 3, 4, 5]
for x in a :
  if (isPrime(x) == True) and (x != 1) :
    print('{}는 소수입니다'.format(x))

2는 소수입니다
3는 소수입니다
5는 소수입니다

In [ ]:
# lambda 
def plus_one(x):
  return x+1

y = plus_one(1)

In [ ]:
plus_two = lambda x : x+2

In [ ]:
print(plus_two(1))

3

In [ ]:
a = [1, 2, 3]
print(list(map(plus_one, a)))

[2, 3, 4]

#### K번째 약수 구하기

In [ ]:
cnt = 0 
n, k = map(int, input().split())
for i in range(1, n+1):
  if n%i == 0 :
    cnt += 1
  
  if cnt == k :
    print(i)
    break

else : 
  print(-1)

6 5
-1

#### K번째 수

* N개의 숫자로 이루어진 숫자열이 주어지면 해당 숫자열 중에서 s번째부터 e번째까지의 수를 오름 차순 정렬했을 때 K번째로 나타나는 숫자를 출력

In [ ]:
n, s, e, k = 6, 2, 5, 3
a = [5, 2, 7, 3, 8, 9]

a = a[s-1:e]
a.sort()
a[k-1]

7

In [ ]:
n,s,e,k = 15, 3, 10, 3
b = [4, 15, 8, 16, 6, 6, 17, 3, 10, 11, 18, 7, 14, 7, 15]
b = b[s-1:e]
b.sort()
b[k-1]

6

#### K번째 큰 수
* 1~100 사이의 자연수가 적힌 N장의 카드. 중복된 카드 있을 수 있음. 3장을 뽑아 sum을 기록. 기록한 값 중 K번째로 큰 수 출력

In [ ]:
k = int(input())
N = [12, 14, 24, 24, 23, 14, 32, 32 ,42, 15, 17, 26, 87, 98, 29, 31, 33, 32]
n = len(N)
res = set()
for i in range(n):
  for j in range(i+1,n):
    for m in range(j+1,n):
      res.add(N[i]+N[j]+N[m])

res = list(res)
res.sort(reverse=True)
print(res[k-1])

5
214

#### 최솟값 구하기

In [ ]:
arr = [5, 3, 7, 9, 2, 5, 2, 6]
arrMin = float('inf')
for i in range(len(arr)) :
  if arr[i] < arrMin:
    arrMin = arr[i]

arrMin

2

#### 대푯값
* N명의 학생에게 수학성적이 주어짐
* N명의 학생들의 평균(소수 첫째자리 반올림) 구하기
* N명의 학생 중 평균에 가장 가까운 학생은 몇 번째 학생인지 출력
* 답이 2개일 경우 성적이 높은 학생의 번호를 출력
* 답이 되는 점수가 여러 개일 경우 번호가 빠른 학생의 번호를 답으로 출력

In [ ]:
n = 10
scores = [65, 73, 66, 87, 92, 67, 55, 79, 75, 80]
score_sum = sum(scores)
score_mean = round(score_sum/n, 1)
min = 2222222222
for idx, x in enumerate(scores):
  tmp = abs(x - score_mean)
  if tmp < min:
    min = tmp
    score = x 
    num = idx + 1
  elif tmp == min :
    if x > score :
      score = x
      num = idx + 1
print(score_mean, num)

73.9 2

#### 정다면체
* n면체와 m면체의 두 개의 주사위를 던져서 나올 수 있는 눈의 합 중 가장 확률이 높은 숫자를 출력하는 프로그램을 출력
* 정답이 여러 개일 경우 오름차순으로 출력

In [ ]:
n, m = 4,6

In [ ]:
cnt = [0] * (n+m+1)
cnt
max = 0
for i in range(1,n+1):
  for j in range(1,m+1):
    cnt[i+j] += 1

for i in range(n+m+1):
  if cnt[i] > max:
    max = cnt[i]

for i in range(n+m+1):
  if cnt[i] == max:
    print(i, end=' ')

5 6 7

#### 자릿수의 합
* N 개의 자연수가 입력되면 각 자연수의 자릿수의 합을 구하고, 그 합이 최대인 자연수를 출력하는 프로그램
* def digit_sum(x)

In [ ]:
n = [125, 15232, 97]

max = 0
def digit_sum(x):
  a = 0 
  while x > 0 :
    a += x%10
    x = x//10
  return a

for x in n :
  y = digit_sum(x)
  if max < y :
    max = y
    target = x

print(target)


# 다른 방법

def digit_sum2(x) :
  b = 0
  for i in str(x):
    b += int(i)
  return b

for x in n :
  tot = digit_sum2(x)
  if tot > max:
    target_2 = x
print(target_2)

97
97

#### 에라토스테네스의 체

* 자연수 N이 입력되면 1부터 N까지의 소수의 개수를 출력하는 프로그램을 작성

In [ ]:
n = 20

In [ ]:
ch = [0] * (n+1)
cnt = 0 
for i in range(2, n+1):
  if ch[i] == 0:
    cnt += 1
    for j in range(1, n+1, i):
      ch[j] = 1
print(cnt)

10